<!DOCTYPE html>
<html>
<head>
<style>
.logo {
    font-family: Impact, Charcoal, sans-serif;
    font-size:500px;
    opacity: 0.1;
    filter: alpha(opacity=10); /* For IE8 and earlier */
}


</style>
</head>
<body>

<p class="logo">64KB.NL</p>

</body>
</html>
