<a href="#" onclick="itmclient.selectedInstance('{{itmobjectInstanceName}}');"> 
    <strong> {{itmobject.displayName}} </strong> 
</a>

<small> {{ itmobject.name }} ( {{ itmobject.className }} ) </small>
